.gallery__button {
  margin: 0;
  padding: 0;
  width: 42px;
  height: 34px;
  background-color: #191D2C;
  border: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .2s;
}

.gallery__button:hover {
  opacity: .6;
}

@media screen and (max-width: 719px) {
  .gallery__button {
    width: 24px;
    height: 20px;
  }
}
