.facts__feats {
  margin: 0;
  padding: 41px 50px 46px;
  width: 50%;
  border-right: solid 1px #E1FD2C;
  box-sizing: border-box;
}

.facts__feats:last-child {
  border-right: none;
}

@media screen and (max-width: 719px) {
  .facts__feats {
    width: 100%;
    border-right: none;
    border-bottom: solid 1px #E1FD2C;
    padding: 20px;
  }
}
