.logo_place_footer {
  position: absolute;
  top: 50px;
  right: 50px;
}

@media screen and (max-width: 767px) {
  .logo_place_footer {
    position: initial;
    justify-self: center;
    width: 280px;
    height: 58px;
    margin: 100px 0 0;
  }
}
