.logo {
  width: 184px;
  height: 38px;
  align-self: center;
  margin: auto;
  transform: translateX(-145px);
}

@media screen and (max-width: 768px) {
  .logo {
    transform: translateX(0);
  }
}

@media screen and (max-width: 425px) {
  .logo {
    width: 100px;
    height: 20px;
  }
}
