.footer__submit-button {
  background-color: #E1FD2C;
  border: none;
  width: 80px;
  height: 32px;
  color: #191D2C;
  cursor: pointer;
  font-size: 10px;
  line-height: 13px;
  box-shadow: none;
  z-index: -1;
}
