.gallery__button-set {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 50px;
  bottom: 56px;
  display: flex;
  justify-content: space-between;
  width: 114px;
}

@media screen and (max-width: 719px) {
  .gallery__button-set {
    width: 64px;
    right: 20px;
    bottom: 23px;
  }
}
