.header__menu-button {
  background-image: url('../images/menu-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #191D2C;
  width: 26px;
  height: 22px;
  border: none;
  position: absolute;
  right: 34px;
  top: 25px;
  cursor: pointer;
  transition: .2s;
  visibility: hidden;
}

.header__menu-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .header__menu-button {
    visibility: initial;
  }
}

@media screen and (max-width: 425px) {
  .header__menu-button {
    width: 20px;
    height: 18px;
    right: 20px;
  }
}
