.press__article {
  width: calc(100% - 50px * 2);
  align-self: center;
  margin: 0;
  padding: 0;
  color: #E1FD2C;
  font-size: 30px;
  line-height: 42px;
  font-weight: 300;
  position: absolute;
  top: 50px;
  left: 50px;
  display: none;
}

@media screen and (max-width: 425px) {
  .press__article {
    font-size: 16px;
    line-height: 27px;
    top: 20px;
    left: 20px;
    width: calc(100% - 20px * 2);
  }
}
